body {
    background-color: #ccffff;
}

* {
    font-family: Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

h1{
    text-decoration: underline;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
}

.half{
    width: 50%;
    height: 400px;
}

p{
    font-size: x-large;
    text-align: center;
}

li{
    list-style-position: inside;
    margin-bottom: 40px;
}