body {
    background-color: cadetblue;
}

h1{
    color: darkgreen;
    font-family: Verdana, sans-serif;
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

p{
    color: darkgreen;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}